<section id="team" class="team-slider">
  <div class="team-slider_container">
    <div class="team-slider_header">
      <div class="team-slider_badge">
        <span class="team-slider_badge-text">{{ 'home.team.title' | translate }}</span>
      </div>
      <h2 class="team-slider_title">
        {{ 'home.team.title' | translate }}
      </h2>
      <p class="team-slider_subtitle">
        {{ 'home.team.subtitle' | translate }}
      </p>
    </div>

    <div class="team-slider_cards">
      <div 
        *ngFor="let member of members"
        class="team-slider_card"
      >
        <div class="team-slider_card-image-wrapper">
          <img 
            [src]="member.image"
            [alt]="i18nService.getCurrentLanguage() === 'ar' ? member.nameAr : member.name"
            class="team-slider_card-image"
          />
        </div>
        <div class="team-slider_card-content">
          <h3 class="team-slider_card-name">
            {{ i18nService.getCurrentLanguage() === 'ar' ? member.nameAr : member.name }}
          </h3>
          <p class="team-slider_card-position">
            {{ i18nService.getCurrentLanguage() === 'ar' ? member.positionAr : member.position }}
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
