<section id="clients" class="clients-slider">
  <div class="clients-slider_container">
    <div class="clients-slider_header">
      <div class="clients-slider_badge">
        <span class="clients-slider_badge-text">{{ 'home.clients.title' | translate }}</span>
      </div>
      <h2 class="clients-slider_title">
        {{ 'home.clients.title' | translate }}
      </h2>
      <p class="clients-slider_subtitle">
        {{ 'home.clients.subtitle' | translate }}
      </p>
    </div>

    <div 
      class="clients-slider_wrapper"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <div 
        class="clients-slider_logos"
        [class.clients-slider_paused]="isPaused()"
        [style.transform]="'translateX(-' + scrollPosition() + 'px)'"
      >
        <div 
          *ngFor="let client of clients"
          class="clients-slider_logo-wrapper"
        >
          <img 
            [src]="client.logo"
            [alt]="'Client ' + client.id"
            class="clients-slider_logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
