.loading-spinner {
  @apply flex items-center justify-center p-8;
}

.loading-spinner_circle {
  @apply w-12 h-12 border-4 border-border-light dark:border-border-dark border-t-primary-light dark:border-t-primary-dark rounded-full animate-spin;
}
