<section class="sectors-preview section">
  <div class="sectors-preview_container">
    <div class="sectors-preview_header">
      <h2 class="sectors-preview_title">
        {{ 'home.sectors.title' | translate }}
      </h2>
      <p class="sectors-preview_subtitle">
        {{ 'home.sectors.subtitle' | translate }}
      </p>
      <p class="sectors-preview_description">
        {{ 'home.sectors.description' | translate }}
      </p>
    </div>
    <div class="sectors-preview_grid">
      <app-sector-card
        *ngFor="let sector of sectors"
        [sector]="sector"
      ></app-sector-card>
    </div>
    <div class="sectors-preview_footer">
      <a routerLink="/sectors" class="btn btn-outline">
        {{ 'buttons.viewAll' | translate }}
      </a>
    </div>
  </div>
</section>
