<section class="why-choose-us">
  <div class="why-choose-us_container">
    <div class="why-choose-us_header">
      <div class="why-choose-us_badge">
        <span class="why-choose-us_badge-text">{{ 'home.whyChooseUs.title' | translate }}</span>
      </div>
      <h2 class="why-choose-us_title">
        {{ 'home.whyChooseUs.title' | translate }}
      </h2>
    </div>

    <div class="why-choose-us_grid">
      <div 
        *ngFor="let feature of features; let i = index"
        class="why-choose-us_card"
      >
        <div class="why-choose-us_card-inner">
          <div class="why-choose-us_card-header">
            <div class="why-choose-us_card-number">{{ formatNumber(i) }}</div>
            <div class="why-choose-us_card-line"></div>
          </div>
          <div class="why-choose-us_card-content">
            <h3 class="why-choose-us_card-title">
              {{ feature.titleKey | translate }}
            </h3>
            <p class="why-choose-us_card-description">
              {{ feature.descriptionKey | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
